/.kdev4
/.idea
/.clwb
/typhoon.kdev4
*.sdf
*.suo
*~
*.VFManifest
*.pyc
*.feature.cs
bin/
obj/
.coveragescope
.sonar
packages/
!packages/repositories.config
.vscode/.vs_code_bazel_build/
*.opendb
.vs/

